accelerate==0.24.1
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.12.0
annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
autorepr==0.3.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
boto==2.49.0
Brotli==1.1.0
build==0.10.0
cachetools==5.3.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
chroma-hnswlib==0.7.3
chromadb==0.4.15
click==8.1.3
cloudpickle==2.2.1
codecheck==1.3.1
coloredlogs==15.0.1
comm==0.1.3
confluent-kafka==2.2.0
contourpy==1.1.0
cssselect2==0.7.0
cycler==0.11.0
databricks-cli==0.17.7
datasets==2.14.6
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
diskcache==5.6.3
distro==1.8.0
dnspython==2.4.2
docker==6.1.3
docopt==0.6.2
downloadutil==1.0.2
ensure==1.0.2
entrypoints==0.4
executing==1.2.0
fastapi==0.104.0
fastjsonschema==2.17.1
filelock==3.12.2
FLAML==2.1.1
Flask==2.3.2
Flask-Cors==4.0.0
flatbuffers==23.5.26
fonttools==4.40.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.34
google-auth==2.23.3
googleapis-common-protos==1.61.0
grpcio==1.59.0
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httptools==0.6.1
huggingface-hub==0.17.3
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
iniconfig==2.0.0
ipykernel==6.24.0
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.7
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.2
jsonpointer==2.4
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
kiwisolver==1.4.4
kubernetes==28.1.0
latest==0.6.0
lightning-utilities==0.9.0
llvmlite==0.40.1
Mako==1.2.4
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==3.0.1
mlflow==2.2.2
-e git+https://github.com/omkaark/mlops-project.git@60f093ec4a5667199279f88b9304745c85511544#egg=mlProject
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.5.6
networkx==3.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.57.1
numpy==1.24.4
oauthlib==3.2.2
onnxruntime==1.16.1
openai==0.27.8
opentelemetry-api==1.20.0
opentelemetry-exporter-otlp-proto-common==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-proto==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
overrides==7.3.1
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
peft==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pip-tools==7.1.0
pipreqs==0.4.13
platformdirs==3.8.0
posthog==3.0.2
prometheus-client==0.17.0
prompt-toolkit==3.0.39
protobuf==4.24.2
psutil==5.9.5
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyautogen==0.1.14
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
pydyf==0.8.0
Pygments==2.15.1
PyJWT==2.8.0
pymongo==4.6.0
PyMuPDF==1.23.4
PyMuPDFb==1.23.3
pyparsing==3.1.0
pyphen==0.14.0
PyPika==0.48.9
pyproject_hooks==1.0.0
pyrsistent==0.19.3
python-box==6.0.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytorch-lightning==2.0.4
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
querystring-parser==1.2.4
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
safetensors==0.4.0
scikit-learn==1.3.0
scipy==1.11.2
Send2Trash==1.8.2
shap==0.42.1
shutilwhich==1.1.0
six==1.16.0
sklearn==0.0.post7
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==2.0.20
sqlparse==0.4.4
stack-data==0.6.2
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.14.1
torch==2.1.0
torchmetrics==0.11.4
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.35.0
typer==0.9.0
types-PyYAML==6.0.12.11
typing-utils==0.1.0
typing_extensions==4.8.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.16
uvicorn==0.23.2
uvloop==0.19.0
watchfiles==0.21.0
wcwidth==0.2.6
weasyprint==60.1
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==12.0
Werkzeug==2.3.6
widgetsnbextension==4.0.8
wrapt==1.15.0
xxhash==3.4.1
yarg==0.1.9
yarl==1.9.2
yugabyte-pycommon==1.9.15
zipp==3.15.0
zopfli==0.2.3
